<!-- <p>list-medicos works!</p> -->

<div class="film-list">
    <div class="film-card">
        <div class="film-card__rating">7.9</div>
        <img class="film-card__photo" src="https://images-na.ssl-images-amazon.com/images/I/81%2BNup8-8NL._AC_SL1500_.jpg" />
        <div class="film-card__title">Avangers Endgame</div>
        <div class="film-card__subtitle">Joe Russo, Anthony Russo</div>
    </div>
    <div class="film-card">
        <div class="film-card__rating">7.9</div>
        <img class="film-card__photo" src="https://images-na.ssl-images-amazon.com/images/I/81%2BNup8-8NL._AC_SL1500_.jpg" />
        <div class="film-card__title">Avangers Endgame</div>
        <div class="film-card__subtitle">Joe Russo, Anthony Russo</div>
    </div>
    <div class="film-card">
        <div class="film-card__rating">7.9</div>
        <img class="film-card__photo" src="https://images-na.ssl-images-amazon.com/images/I/81%2BNup8-8NL._AC_SL1500_.jpg" />
        <div class="film-card__title">Avangers Endgame</div>
        <div class="film-card__subtitle">Joe Russo, Anthony Russo</div>
    </div>
</div>
<div class="container">
    <div class="list">
        <div class="list-item">
            <figure class="list-figure">
                <img src="https://images-na.ssl-images-amazon.com/images/I/6136b7AfdUL._SL1500_.jpg" alt="Mario">
            </figure>
            <div class="list-description">
                <p>descricao</p>
            </div>
        </div>
    </div>
</div>
